.versions_container {
    width: 1600px;
    height: 58px;
    overflow: scroll;
    border-radius: 10px;
}

.main_dynamic_container {
    margin-top: 5px;
    width: 1600px;
    height: 500px;
    border-radius: 20px;
}


.arrow_link {
    stroke-width: 3px;
    stroke: rgba(50, 50, 50, 0.2);
    marker-end: url(#arrow);
}
.faint_arrow_link {
    stroke-width: 3px;
    stroke: rgba(50, 50, 50, 0.2);
    marker-end: url(#arrow);
    opacity: 10%;
}


.regular_node {
    fill: grey;
    stroke: black;
    stroke-width: 1px;
}
.faint_node {
    fill: white;
    stroke: black;
    stroke-width: 1px;
    opacity: 10%;
}
.version_node {
    fill: red;
    stroke: white;
    stroke-width: 1px;
}
.mid_node {
    fill: black;
    stroke: black;
    stroke-width: 1px;
}
.head_node {
    fill: green;
    stroke: black;
    stroke-width: 1px;
}
.tail_node {
    animation: none;
    fill: red;
    stroke: black;
    stroke-width: 1px;
}
.null_node {
    fill: darkorange;
    stroke: black;
    stroke-width: 1px;
}
.operational_node {
    fill: aqua;
    stroke: black;
    stroke-width: 1px;
}
.dynamic_node {
    fill: yellow;
    stroke: black;
    stroke-width: 1px;
}


.version_text {
    fill: white;
    font-size: 15px;
}
.graph_text {
    fill: black;
    font-size: 15px;
}
.faint_text {
    fill: black;
    font-size: 15px;
    opacity: 10%;
}
.help_text {
    white-space: pre-wrap;
    border-width: 3px;
    border-style: solid;
    border-color: darkblue;
}


.popup {
    visibility: hidden;
    user-select: none;
    width: 165px;
    background-color: #555;
    color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    align-items: center;
}
.show_popup {
    visibility: visible;
    animation: FadeIn 0.5s;
}
.hide_popup {
    animation: FadeOut 0.5s;
}

.popup_circle {
    border: 1px solid white;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
@keyframes FadeOut {
    from {
        visibility: visible;
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

.blink_node {
    animation: blinking 0.5s infinite alternate ease-in-out;
}

.blink_link {
    animation: blinking 0.5s infinite alternate ease-in-out;
}

@keyframes blinking {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

