[class=arrow_link] {
    stroke-width: 3px;
    stroke: rgba(50, 50, 50, 0.2);
    marker-end: url(#arrow);
}
[class=faint_arrow_link] {
    stroke-width: 3px;
    stroke: rgba(50, 50, 50, 0.2);
    marker-end: url(#arrow);
    opacity: 10%;
}


[class=regular_node] {
    fill: grey;
    stroke: black;
    stroke-width: 1px;
}
[class=faint_node] {
    fill: white;
    stroke: black;
    stroke-width: 1px;
    opacity: 10%;
}
[class=version_node] {
    fill: red;
    stroke: white;
    stroke-width: 1px;
}
[class=mid_node] {
    fill: black;
    stroke: black;
    stroke-width: 1px;
    opacity: 85%;
}
[class=head_node] {
    fill: green;
    stroke: black;
    stroke-width: 1px;
}
[class=tail_node] {
    fill: red;
    stroke: black;
    stroke-width: 1px;
}
[class=null_node] {
    fill: darkorange;
    stroke: black;
    stroke-width: 1px;
}
[class=operational_node] {
    fill: aqua;
    stroke: black;
    stroke-width: 1px;
}
[class=dynamic_node] {
    fill: yellow;
    stroke: black;
    stroke-width: 1px;
}


[class=version_text] {
    fill: white;
    font-size: 15px;
}
[class=graph_text] {
    fill: black;
    font-size: 15px;
}
[class=faint_text] {
    fill: black;
    font-size: 15px;
    opacity: 10%;
}
[id=help_text] {
    white-space: pre-wrap;
    border-width: 3px;
    border-style: solid;
    border-color: #287EC7;
}


[class=popup] {
    user-select: none;
    animation: fadeIn 0.5s;
    width: 165px;
    background-color: #555;
    color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
}

[class=popup_circle] {
    border: 1px solid white;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

