.overlay {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 2;
    opacity: 50%;
}

.overlay_on {
    visibility: visible;
    animation: 0.5s OverlayOn;
}

.overlay_off {
    animation: 0.5s OverlayOff;
}

@keyframes OverlayOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 50%;
    }
}

@keyframes OverlayOff {
    from {
        visibility: visible;
        opacity: 50%;
    }
    to {
        visibility: visible;
        opacity: 0;
    }
}

.instruction_block {
    visibility: hidden;
    position: fixed;
    width: 70%;
    top: 10%;
    left: 50%;
    bottom: 10%;
    background: white;
    transform: translate(-50%);
    border-radius: 10px;
    padding: 10px;
    border: 5px solid #c2c2c2;
    z-index: 8;
    overflow: auto;
}

.instruction_topic {
    margin-left: 25px;
    margin-bottom: 5px;
}

.instruction_paragraph {
    margin-left: 45px;
    margin-top: 0;
    margin-bottom: 0;
}

.open_instruction {
    visibility: visible;
    animation: 0.5s InstructionOn;
}

.close_instruction {
    animation: 0.5s InstructionOff;
}

@keyframes InstructionOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes InstructionOff {
    from {
        visibility: visible;
        opacity: 100;
    }
    to {
        visibility: visible;
        opacity: 0;
    }
}