.regular_node {
    fill: grey;
    stroke: black;
    stroke-width: 1px;
}

.faint_node {
    fill: white;
    stroke: black;
    stroke-width: 1px;
    opacity: 10%;
}

.version_node {
    fill: red;
    stroke: white;
    stroke-width: 1px;
}

.mid_node {
    fill: black;
    stroke: black;
    stroke-width: 1px;
}

.head_node {
    fill: green;
    stroke: black;
    stroke-width: 1px;
}

.tail_node {
    fill: red;
    stroke: black;
    stroke-width: 1px;
}

.null_node {
    fill: darkorange;
    stroke: black;
    stroke-width: 1px;
}

.operational_node {
    fill: aqua;
    stroke: black;
    stroke-width: 1px;
}

.dynamic_node {
    fill: yellow;
    stroke: black;
    stroke-width: 1px;
}

.blink_node {
    animation: BlinkingNode 0.5s infinite alternate ease-in-out;
}

@keyframes BlinkingNode {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}