.popup {
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    user-select: none;
    background-color: #555555;
    color: white;
    font-size: 17px;
    padding: 5px;
    border-radius: 6px;
}

.show_popup {
    visibility: visible;
    animation: FadeIn 0.5s;
}

.hide_popup {
    animation: FadeOut 0.5s;
}

.popup_line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    column-gap: 4px;
}

.popup_circle {
    border: 1px solid white;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes FadeOut {
    from {
        visibility: visible;
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}