@import "sidebar_openbutton.css";
@import "sidebar.css";
@import "popups.css";
@import "nodes.css";
@import "nodes_texts.css";
@import "links.css";
@import "instructions.css";
@import "buttons.css";
@import "checkboxes.css";

/*Layer levels:
    <2: everything
    2: overlay


    8: instruction
    9: menu button
    10: menu
*/

html, body {
    height: 100%;   /*for main svg container's flexbox*/
    font-family: "Arial Black", sans-serif;
    /*overflow: hidden;   !*to prevent scroll on body margin*!*/
}

.container_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.versions_container {
    height: 58px;
    border-radius: 10px;
    margin-left: 10px;
    overflow: scroll;
    overflow-y: hidden;
}

.versions_svg {
    width: 5000px;
    height: 100%;
    background: black;
}



.main_dynamic_container {
    white-space: nowrap;
    width: 100%;
    height: 70vh;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.main_svg {
    height: 100%;
    width: 60%;
    background: cyan;
}

.secondary_svg {
    height: 100%;
    width: 40%;
    margin-left: 0.3%;
    background: aquamarine;
}


.help_text_container {
    margin-top: 10px;
    border: 4px solid darkblue;
    border-radius: 5px;
}
.help_text {
    margin: 7px;
    white-space: pre-wrap;
    font-size: 17px;
}


.push_form, .pop_form {
    margin-top: 10px;
}

.push_version, .pop_version {
    background-color: #e7e7e7;
    border: none;
    border-bottom: 3px solid darkblue;
    border-radius: 3px;
    text-align: center;
}




.step_by_step_container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7px;
}
.step_by_step_container.hide {
    display: none;
}



.banan {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translate(-50%);
}